#grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    align-content: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-justify: auto;
}

.innerBox {
    border: 1px solid black;
    display: grid;
    align-content: center;
    justify-content: center;
}

